<nav class="bg-white border-gray-200 dark:bg-gray-900 fixed top-0 w-full z-10">
    <div class="flex justify-between mx-auto px-4 py-6">
        <!-- Logo with a bit of space from the left margin -->
        <%= link_to root_path do %>
            <%= image_tag('main.png', class: 'h-8 mr-5', alt: 'Local Logo') %>
        <% end %>
    
        <div class="flex items-center space-x-2 rtl:space-x-reverse ml-auto">
            <button class="px-6 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 transition-all ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Sign Up</button>
        </div>
    </div>
</nav>
